version: '3'

services:
  mockinstosh:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/usr/mockintosh
    restart: always
    tty: true
    environment:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    ports:
      - 8001:8001
      - 9999:9999 # Control Panel